<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525863242647-k2keqbsln3389g4belc92984761tfnqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525863242647-k2keqbsln3389g4belc92984761tfnqa</string>
	<key>API_KEY</key>
	<string>AIzaSyBeO7gTLTOstZzSi2wN1hRuDZ9yRF7PLDY</string>
	<key>GCM_SENDER_ID</key>
	<string>525863242647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>elo.AppleLogin</string>
	<key>PROJECT_ID</key>
	<string>applelogin-1e6e0</string>
	<key>STORAGE_BUCKET</key>
	<string>applelogin-1e6e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525863242647:ios:98808b37c724c770cad2d2</string>
</dict>
</plist>